html {
  height: 100%;
  width: 100%;
}


body{
  margin:0;
  background-color: lightgoldenrodyellow;
}



h1 {
  background-color: yellowgreen;
  text-align:center ;
}
.color-yellowgreen{
  color: yellowgreen
}

figure {
  border: thin white solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 228px;
  margin: auto;
}

img{
  max-width: 228px;
}

figcaption{
background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.menu{
  display: inline-block;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}
.menu li{
list-style: none;
  display: inline-block;
  padding: 15px 40px;
}
.menu a{
  text-decoration: none;
  color: rbg(12, 37, 37);
  font-size: 2.5em;
}
.menu a:hover{
  color: rgb(20,57,219);
  font-size: 2.6em;
}



footer{
  margin: 0;
  padding: 17px;
  background-color: red;
  color:whitesmoke;
  
}